<h1><%= @user.username %></h1>

<% if @user.id == current_user.id %>
  <h2>Private Goals</h2>
  <ul>
    <% @user.goals.each do |goal| %>
      <li><%= link_to goal.name, goal_url(goal) %></li>
    <% end %>
  </ul>

  <h2>Other Goals</h2>

  <ul>
    <% @other_goals.each do |goal| %>
      <li><%= link_to goal.name, goal_url(goal) %></li>
    <% end %>
  </ul>
<% else %>
  <h2><%= @user.username %>'s Public Goals</h2>
  <ul>
    <% @users_public_goals.each do |goal| %>
      <li><%= link_to goal.name, goal_url(goal) %></li>
    <% end %>
  </ul>
<% end %>

<% if @user.id == current_user.id %>
  <%= link_to "New Goal", new_goal_url %>
<% end %>
