<h1><%= @goal.name %></h1>

Status: <%= @goal.status %>

<div>
  <%= @goal.description %>
</div>

<div>
  <%= link_to @goal.user.username, user_url(@goal.user) %>
</div>

<% if @goal.user_id == current_user.id %>
  <h3>Links</h3>
  <%= link_to "Edit Goal", edit_goal_url(@goal) %>
  <% if @goal.status == 'in progress' %>
    <%= button_to "Complete Goal", complete_goal_url(@goal), method: :post %>
  <% end %>
  <%= button_to "Remove Goal", goal_url(@goal), method: :delete %>
<% end %>

<h2>Comments</h2>

<ul>
  <% @goal.comments.each do |comment| %>
    <li>
      <%= comment.body %>
      <br>
      <% if current_user.id == @goal.user_id || current_user.id == comment.author_id %>
        <%= button_to 'Remove Comment', comment_url(comment), method: 'delete' %>
      <% end %>
    </li>
  <% end %>
</ul>

<form class="" action="<%= comments_url %>" method="post">
  <%= auth_input %>
  <input type="hidden" name="comment[commentable_id]" value="<%= @goal.id %>">
  <input type="hidden" name="comment[commentable_type]" value="<%= @goal.class.name %>">

  <label>Comment
    <textarea name="comment[body]" rows="4" cols="20"></textarea>
  </label>

  <input type="submit" name="" value="Add Comment">
</form>
