<h1><%= @goal.name %></h1>

<%= @goal.description %>

<div>
  <%= link_to @goal.user.username, user_url(@goal.user) %>
</div>

<% if @goal.user_id == current_user.id %>
  <h2>Links</h2>
  <%= link_to "Edit Goal", edit_goal_url(@goal) %>
  <%= button_to "Remove Goal", goal_url(@goal), method: :delete %>
<% end %>
